<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Document</title>
</head>
<body id="home">
    <main>
        <h1>Movie Guesser</h1>
        <form action="/game" method="get">
            <input type="text" name="username" id="username">
            <button type="submit">enter game</button>
        </form>
    </main>
</body>
</html>