<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Document</title>
</head>
<body>
    <main id="room">
        <article>
            <section>
                <button class="newMovie">New Movie</button>
                <div id="moviePoster"></div>
            </section>
        </article>
        <article>
            <section>
                <h2>Leaderboard</h2>
                <ul id="userList"></ul>
            </section>
            <section>
                <h2>Chat</h2>
                <a href="/" id="leave">Leave room</a>
            </section>
        </article> 
    </main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>
</html>